alias my-ip="ip route get 8.8.8.8 | awk '{print $NF; exit}'"
alias gcl='git clone'
alias ga='git add'
alias grm='git rm'
alias gap='git add -p'
alias gall='git add -A'
alias gf='git fetch --all --prune'
alias gft='git fetch --all --prune --tags'
alias gfv='git fetch --all --prune --verbose'
alias gftv='git fetch --all --prune --tags --verbose'
alias grh='git reset HEAD'
alias gpristine='git reset --hard && git clean -dfx'
alias gclean='git clean -fd'
alias gm="git merge"
alias gmv='git mv'
alias g='git'
alias get='git'
alias gst='git stash'
alias gss='git status'
alias gs='git status -s'
alias gsu='git submodule update --init --recursive'
alias gl='git pull'
alias glum='git pull upstream master'
alias gpr='git pull --rebase'
alias gpp='git pull && git push'
alias gup='git fetch && git rebase'
alias grb='git rebase'
alias grbm='git rebase master'
alias gp='git push'
alias gpo='git push origin'
alias gpu='git pull'
alias gpuo='git pull origin'
alias gpuom='git pull origin master'
alias gpom='git push origin master'
alias gr='git reset'
alias grv='git remote -v'
alias gra='git remote add'
alias gd='git diff'
alias gds='git diff --staged'
alias gc='git commit'
alias gca='git commit -v -a'
alias gcm='git commit -v -m'
alias gcam="git commit -v -am"
alias gci='git commit --interactive'
alias gb="git for-each-ref --count=5 --sort=-committerdate refs/heads/ --format='%(refname:short)'"
alias gba='git branch -a'
alias gbt='git branch --track'
alias gbm='git branch -m'
alias gbd='git branch -d'
alias gbD='git branch -D'
alias gcount='git shortlog -sn'
alias gcp='git cherry-pick'
alias gco='git checkout'
alias gcop='git checkout -'
alias gcom='git checkout master && git pull origin master'
alias gcb='git checkout -b'
alias gcob='git checkout -b'
alias gct='git checkout --track'
alias gexport='git archive --format zip --output'
alias gdel='git branch -D'
alias gmu='git fetch origin -v; git fetch upstream -v; git merge upstream/master'
alias gll='git log --graph --pretty=oneline --abbrev-commit'
alias gg="git log --graph --pretty=format:'%C(bold)%h%Creset%C(magenta)%d%Creset %s %C(yellow)<%an> %C(cyan)(%cr)%Creset' --abbrev-commit --date=relative"
alias ggs="gg --stat"
alias gsl="git shortlog -sn"
alias gwc="git whatchanged"
alias gt="git tag"
alias gta="git tag -a"
alias gtd="git tag -d"
alias gtl="git tag -l"
# From http://blogs.atlassian.com/2014/10/advanced-git-aliases/
# Show commits since last pull
alias gnew="git log HEAD@{1}..HEAD@{0}"
# Add uncommitted and unstaged changes to the last commit
alias gcaa="git commit -a --amend -C HEAD"
alias ggui="git gui"
alias gcsam="git commit -S -am"
alias gstd="git stash drop"
alias gstl="git stash list"
alias gh='cd "$(git rev-parse --show-toplevel)"'
alias rebase='git checkout master && git pull origin master && git checkout @{-1} && git rebase master'

alias logs='docker-compose logs -f'
alias up='docker-compose up -d'
alias down='docker rm -f $(docker ps -aq)'
alias ps='docker ps'
alias md='make docker'

# helper function to print out barclays credentials
function barclays_creds() {
    echo 'barclays:admin:adminuser71835'
}

function docker-flush() {
    dockerlist=$(docker ps -a -q)
    if [ "${dockerlist}" != "" ]; then
        for d in ${dockerlist}; do
            echo "***** ${d}"
            docker stop ${d} 2>&1 > /dev/null
            docker rm ${d} 2>&1 > /dev/null
        done
    fi
}

# Full text, recursive search in current directory
alias search='grep -rni --exclude-dir=node_modules --exclude-dir=aiutils'

# build only the web container
alias build-web='$CLINC_PATH/scripts/build_one_docker.sh $CLINC_PATH/web/Dockerfile dev'

# run any command against the web container e.g. `d ls`
alias d='docker exec lucidaclinc_clinc-api-server_1'

# clean all persistence so that next time we
# do `docker-compose up -d` everything will be clearn
alias clean_persist='sudo rm -rf /var/log/lucida/lib/mysql/ && sudo rm -rf /var/log/lucida/files/ && sudo mkdir /var/log/lucida/files && sudo chmod 777 /var/log/lucida/files'

alias watch-js="docker exec -it lucidaclinc_admin-console-server_1 bash -c 'cd adminconsole && npm run watch-js'"

# run spotlight mocha tests
alias mocha_test='docker exec lucidaclinc_clinc-api-server_1 adminconsole/node_modules/mocha/bin/mocha adminconsole/tests'

alias django_test='docker exec -it lucidaclinc_clinc-api-server_1 ./clincapi/manage.py test --keepdb --verbosity 3'

# get a mysql shell
alias mysql='docker exec -it lucidaclinc_mysql-server_1 mysql --user=clincdev --password=yesiamtherealclincdev --port=3306 finie_db'

# jslint files in web container
alias jslint='docker exec lucidaclinc_clinc-api-server_1 ../scripts/lint_js.sh'

# pylint files in web container
alias pylint='docker exec lucidaclinc_clinc-api-server_1 ../scripts/lint_py.sh'

# touch wsgi in web container
alias wsgi='docker exec lucidaclinc_clinc-api-server_1 touch ./clincapi/common/wsgi.py'

# manage script in web container
alias manage='docker exec -it lucidaclinc_clinc-api-server_1 ../clincapi/manage.py'

# grep all python files in this tree
alias pygrep='find . -name "*.py" | xargs grep -rn'

# follow the django logs
alias django-logs='tail -n 250 /var/log/lucida/logdata/apache_error.log -f'

# run vue unit tests in web container
alias vue-test='docker exec lucidaclinc_clinc-api-server_1 npm run vue-unit'

# make clean run of docker
alias docker-up='make docker && docker-compose up'
